In [1]:
import pandas as pd

I had the following in a Google sheet that I had originally generated in R.  Any better way to get this into `pandas`?

In [2]:
ten_team_1st_round = pd.DataFrame({
    "matchweek" : [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,4,5,5,5,5,5,6,6,6,6,6,7,7,7,7,7,8,8,8,8,8,9,9,9,9,9],
    "home" : ['j','h','f','d','b','a','i','g','e','c','d','a','j','h','f','d','e','b','i','g','h','f','a','c','j','f','i','g','d','b','c','j','h','a','e','h','d','b','i','f','g','e','c','j','a'],
    "away" : ['a','c','e','g','i','b','d','f','h','j','b','c','e','g','i','a','c','f','h','j','b','d','e','g','i','a','c','e','h','j','b','d','f','g','i','a','c','e','g','j','b','d','f','h','i']
})
ten_team_1st_round.head(5)

   matchweek home away
0          1    j    a
1          1    h    c
2          1    f    e
3          1    d    g
4          1    b    i

In [3]:
twelve_team_1st_round = pd.DataFrame({
    "matchweek" : [1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,5,5,5,5,5,5,6,6,6,6,6,6,7,7,7,7,7,7,8,8,8,8,8,8,
                   9,9,9,9,9,9,10,10,10,10,10,10,11,11,11,11,11,11],
    "home" : ['l','j','h','f','d','b','a','k','i','g','e','c','d','a','l','j','h','f','d','e','b','k','i','g','h',
              'f','a','c','l','j','f','i','g','d','b','k','l','j','h','a','e','c','h','b','k','i','f','d','e','c',
              'l','j','a','g','j','f','d','b','k','h','i','g','e','c','l','a'],
    "away" : ['a','c','e','g','i','k','b','d','f','h','j','l','b','c','e','g','i','k','a','c','f','h','j','l','b',
              'd','e','g','i','k','a','c','e','h','j','l','b','d','f','g','i','k','a','c','e','g','j','l','b','d',
              'f','h','i','k','a','c','e','g','i','l','b','d','f','h','j','k']
})
twelve_team_1st_round.head(5)

   matchweek home away
0          1    l    a
1          1    j    c
2          1    h    e
3          1    f    g
4          1    d    i

The 2nd round of fixtures are the reverse of the 1st round, i.e. switch the home and away teams. Increment matchweek ID by 9 for the 2nd round

In [4]:
ten_team_2nd_round = ten_team_1st_round.rename(columns = {"home": "temp", "away": "home"}).rename(columns = {"temp": "away"})
ten_team_2nd_round["matchweek"] = ten_team_2nd_round["matchweek"] + 9
ten_team_2nd_round.head(5)

   matchweek away home
0         10    j    a
1         10    h    c
2         10    f    e
3         10    d    g
4         10    b    i

In [5]:
twelve_team_2nd_round = twelve_team_1st_round.rename(columns = {"home": "temp", "away": "home"}).rename(columns = {"temp": "away"})
twelve_team_2nd_round["matchweek"] = twelve_team_2nd_round["matchweek"] + 11
twelve_team_2nd_round.head(5)

   matchweek away home
0         12    l    a
1         12    j    c
2         12    h    e
3         12    f    g
4         12    d    i

Append the 2nd round of the fixtures to the 1st round to create the full set of fixtures

In [6]:
prem_fixtures = pd.concat([ten_team_1st_round, ten_team_2nd_round])
prem_fixtures

    matchweek home away
0           1    j    a
1           1    h    c
2           1    f    e
3           1    d    g
4           1    b    i
..        ...  ...  ...
40         18    b    g
41         18    d    e
42         18    f    c
43         18    h    j
44         18    i    a

[90 rows x 3 columns]

In [21]:
div1_fixtures = pd.concat([twelve_team_1st_round, twelve_team_2nd_round])
div1_fixtures

    matchweek home away
0           1    l    a
1           1    j    c
2           1    h    e
3           1    f    g
4           1    d    i
..        ...  ...  ...
61         22    d    g
62         22    f    e
63         22    h    c
64         22    j    l
65         22    k    a

[132 rows x 3 columns]

Create a list of dates across the season where there is no fixture due to cup competitions, winter break etc.

In [8]:
from datetime import date
fixture_days = "Mon"
prem_exclude = [date(2023, 10, 23), date(2023, 12, 4), date(2023, 12, 11), date(2023, 12, 18), date(2023, 12, 25),
                date(2024, 1, 1), date(2024, 2, 5)]
prem_exclude

[datetime.date(2023, 10, 23),
 datetime.date(2023, 12, 4),
 datetime.date(2023, 12, 11),
 datetime.date(2023, 12, 18),
 datetime.date(2023, 12, 25),
 datetime.date(2024, 1, 1),
 datetime.date(2024, 2, 5)]

In [9]:
div1_exclude = [date(2023, 10, 23), date(2023, 12, 4), date(2023, 12, 25), date(2024, 1, 1), date(2024, 2, 5)]
div1_exclude

[datetime.date(2023, 10, 23),
 datetime.date(2023, 12, 4),
 datetime.date(2023, 12, 25),
 datetime.date(2024, 1, 1),
 datetime.date(2024, 2, 5)]

Generate a list of dates for each matchweek excluding the above dates

In [10]:
prem_matchweeks = pd.DataFrame(
{
    "matchweek" : list(range(1, 19)),
    "Date dd/mm/yyyy": pd.bdate_range(date(2023, 9, 25), date(2024, 3, 11), freq = 'C', weekmask = fixture_days,
                                      holidays = prem_exclude)
})
prem_matchweeks["Time HH:MM"] = "19:00"
prem_matchweeks["Date dd/mm/yyyy"] = prem_matchweeks["Date dd/mm/yyyy"].dt.strftime("%d/%m/%Y")
prem_matchweeks.head(5)

   matchweek Date dd/mm/yyyy Time HH:MM
0          1      25/09/2023      19:00
1          2      02/10/2023      19:00
2          3      09/10/2023      19:00
3          4      16/10/2023      19:00
4          5      30/10/2023      19:00

In [11]:
div1_matchweeks = pd.DataFrame(
{
    "matchweek" : list(range(1, 23)),
    "Date dd/mm/yyyy": pd.bdate_range(date(2023, 9, 25), date(2024, 3, 25), freq = 'C', weekmask = fixture_days,
                                      holidays = div1_exclude)
})
div1_matchweeks["Time HH:MM"] = "19:00"
div1_matchweeks["Date dd/mm/yyyy"] = div1_matchweeks["Date dd/mm/yyyy"].dt.strftime("%d/%m/%Y")
div1_matchweeks.head(5)

   matchweek Date dd/mm/yyyy Time HH:MM
0          1      25/09/2023      19:00
1          2      02/10/2023      19:00
2          3      09/10/2023      19:00
3          4      16/10/2023      19:00
4          5      30/10/2023      19:00

Create dataframes of Premier Division and Division 1 teams

In [13]:
prem_teams = pd.DataFrame(
{
    "team_letter" : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],
    "team_code" : ["SMA", "SMD", "SMC", "SME", "PSA", "PSB", "CCA", "CCC", "SMB", "BCJ"]
})
prem_teams.head(5)

  team_letter team_code
0           a       SMA
1           b       SMD
2           c       SMC
3           d       SME
4           e       PSA

In [14]:
div1_teams = pd.DataFrame(
{
    "team_letter" : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l'],
    "team_code" : ["MCA", "MCB", "MCC", "HDS", "SSA", "SSC", "CHA", "CHB", "PL", "PC", "SSB", "BYE"]
})
div1_teams.head(5)

  team_letter team_code
0           a       MCA
1           b       MCB
2           c       MCC
3           d       HDS
4           e       SSA

Merge the datasets to create a Premier Division fixture dataframe and a CSV for uploading to LeagueRepublic

In [19]:
prem_fixtures = pd.merge(pd.merge(pd.merge(prem_fixtures, prem_teams, how = "inner", left_on = "home",
                                           right_on = "team_letter")
                 .rename(columns = {"team_code": "Home Team"}),
                prem_teams, how = "inner", left_on = "away",
                                  right_on = "team_letter").rename(columns = {"team_code": "Away Team"})
                , prem_matchweeks, how = "inner", on = "matchweek")
prem_fixtures["Division"] = "Premier Division"
prem_fixtures["Venue"] = ""
prem_fixtures["Pitch"] = ""
prem_fixtures["Home Score"] = ""
prem_fixtures["Away Score"] = ""
prem_fixtures = prem_fixtures.sort_values("matchweek")[["Date dd/mm/yyyy", "Time HH:MM", "Division", "Home Team", "Away Team",
                               "Venue", "Pitch", "Home Score", "Away Score"]]
prem_fixtures.to_csv("Premier fixtures 23-24.csv", index=False)
prem_fixtures.head(5)

,Date dd/mm/yyyy,Time HH:MM,Division,Home Team,Away Team,Venue,Pitch,Home Score,Away Score
0,25/09/2023,19:00,Premier Division,BCJ,SMA,,,,
1,25/09/2023,19:00,Premier Division,PSB,PSA,,,,
2,25/09/2023,19:00,Premier Division,SMD,SMB,,,,
3,25/09/2023,19:00,Premier Division,CCC,SMC,,,,
4,25/09/2023,19:00,Premier Division,SME,CCA,,,,

Merge the datasets to create fixtures for Division 1 and export to CSV for uploading to the website

In [22]:
div1_fixtures = pd.merge(pd.merge(pd.merge(div1_fixtures, div1_teams, how = "inner", left_on = "home",
                                           right_on = "team_letter")
                 .rename(columns = {"team_code": "Home Team"}),
                div1_teams, how = "inner", left_on = "away",
                                  right_on = "team_letter").rename(columns = {"team_code": "Away Team"})
                , div1_matchweeks, how = "inner", on = "matchweek")
div1_fixtures = div1_fixtures.loc[div1_fixtures["Home Team"] != "BYE"]
div1_fixtures = div1_fixtures.loc[div1_fixtures["Away Team"] != "BYE"]
div1_fixtures["Division"] = "Division 1"
div1_fixtures["Venue"] = ""
div1_fixtures["Pitch"] = ""
div1_fixtures["Home Score"] = ""
div1_fixtures["Away Score"] = ""
div1_fixtures = div1_fixtures.sort_values("matchweek")[["Date dd/mm/yyyy", "Time HH:MM", "Division", "Home Team", "Away Team",
                               "Venue", "Pitch", "Home Score", "Away Score"]]
div1_fixtures.to_csv("Div 1 fixtures 23-24.csv", index=False)
div1_fixtures.head(5)

,Date dd/mm/yyyy,Time HH:MM,Division,Home Team,Away Team,Venue,Pitch,Home Score,Away Score
1,25/09/2023,19:00,Division 1,CHB,SSA,,,,
2,25/09/2023,19:00,Division 1,HDS,PL,,,,
3,25/09/2023,19:00,Division 1,PC,MCC,,,,
4,25/09/2023,19:00,Division 1,SSC,CHA,,,,
5,25/09/2023,19:00,Division 1,MCB,SSB,,,,